name: ETF Auto Trader

on:
  schedule:
    - cron: "0 1 * * 2-6"  # 每周二到周六北京时间 09:00 执行（UTC 01:00）

jobs:
  run_daily:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run daily trader script
        run: |
          python scripts/run_daily.py
